{{<layout}}
{{$step}}Question 3{{/step}}
{{$journeyHeader}}
{{#t}}journeys.lost.header{{/t}}
{{/journeyHeader}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$pageTitle}}{{#t}}pages.apply-online-options.header{{/t}}{{/pageTitle}}

{{$content}}


{{<partials-form}}

{{$form}}

<fieldset id="apply-online-options-radio-group" class="buttonTrigger">
  {{#radio-group}}apply-online-options-radio{{/radio-group}}
</fieldset>

<input type="submit" value="Continue" class="button" disabled="true" id="input-submit">


{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
