{{<layout}}
{{$step}}Question 3{{/step}}
{{$journeyHeader}}
{{#t}}journeys.lost.header{{/t}}
{{/journeyHeader}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$pageTitle}}{{#t}}fields.whose-passport-radio.legend{{/t}}{{/pageTitle}}

{{$content}}


{{<partials-form}}

{{$form}}

<fieldset id="whose-passport-radio-group" class="buttonTrigger">
  {{#radio-group}}whose-passport-radio{{/radio-group}}
</fieldset>

<input type="submit" value="Continue" class="button" disabled="true" id="input-submit">


{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
